
.container-a{    
    width: 100%;
    height: auto;
 
}
.container-a .background-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    margin-left: 0px;
    border-radius: 25px 0px 0px 25px
}
.container-a .image{
   
    display: flex;
    padding-top: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-left: 4px;
    
}
.border-img-form{
    width: 60%;
    height: auto;
    border-style: groove;
    display: flex;
    justify-content: space-between;
    /* padding-right: 20px; */
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    padding-left: 30px;
    padding-right: 20px;
    margin-bottom: 20px;
}
.image .detailed-img{
    width: 30%;
    height: 100%;
    padding-top: 8px;
    display: flex;
    align-items: center;
    zoom: 2;
    
}
.detailed-img .form-img{
    align-items: flex-start;
    justify-content: start;
    display:flex;
    justify-content: center;
    align-items: center;
}
.image .upload-img{
    width: 100%;
    height: auto;
    /* padding-right: 450px; */

}

.container-a .btn{
    width: 100%;
    height: auto;
    /* padding: 20px;   */
    /* padding-left: 20px; */
    /* display: flex; */
    /* justify-content: center; */
    padding-top: 40px;
}

.btn .btn-predict{
    font-size: 20px;
    color: wheat;
    width: 30%;
    height: auto;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: gray;
    justify-content: center;
margin-left: 50px;
}




.type .choose-type{
   width: auto;
    height: auto;
    justify-content: end;
    /* font-family: 'Arimo', sans-serif; */
    color:gray;
    display: block;
    align-items: center;
    
   
}
.container-a .chart{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart .border-chart{
    width: 60%;
    height: auto;
    border-style: groove;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    padding-right: 20px;
    /* margin-bottom: 10px; */
    padding-bottom: 10px;
}
.border-chart .detailed-chart{
    width: 60%;
    height: auto;
    /* margin-left: 20px; */
    /* background-color: lightgray; */

}
.border-chart .result{
    width: 60%;
    height: auto;
    padding-left: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;

}
.result .father-result{
    width: 100%;
    height: auto;
    padding-right: 40px;
}
.result .father-model{
    width: 100%;
    height: auto;
}
.father-result .detailed-result{
    width: 80%;
    height: auto;
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    /* padding-right: 20px;
     */
    /* border-style: solid; */
    font-family: 'Oswald', sans-serif;
    /* padding-left: 50px; */
    padding-left: 10px;

    

}
.father-model .detailed-model{
    width: 80%;
    height: auto;
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    /* padding-right: 55px;detailed-result */
    /* padding-top: 20px; */
    /* border-style: solid; */
    /* margin-top: 10px; */
    /* font-family: 'Oswald', sans-serif; */

    
}
.radiobuttonchange{
    display: block;
     padding-top: 100px;
     zoom: 1;
}
.navbarmenu{
    position: sticky;
    top: 0;
    z-index: 1;
}
@media only screen and (max-width: 1026px) {
    .image .detailed-img{
        width: 30%;
        padding-top: 8px;
        zoom: 1;
        
    }
    .radiobuttonchange{
        padding-top: 50px;
        zoom: 0.6;
    }
    .btn .btn-predict{
        font-size: 10px;
        margin-left: 0px;

    }
    .border-img-form{
        width: 90%;
    }
    .chart .border-chart{
        width: 90%;
        display: block;
    }
    .border-chart .detailed-chart{
        width: 100%;
        margin-left: 0px;
        /* background-color: lightgray; */
    
    }
    .border-chart .result{
        width: 100%;
    }
    .chart .border-chart{
        padding-right: 0px;
    }
    .result .father-result{
        display: flex;
        justify-content: center;
        width: auto;
        /* padding-right: 70px; */
    }
    .result .father-model{
        display: flex;
        justify-content: center;
    }
    .father-result .detailed-result{
        font-size: 20px;
        width: 100%;
        padding-top: 5px;
        padding-left: 5px;
    }
  }
/* .style-chart{
    width: 30%;
    height: auto;
    padding-right:100px;
} */